body {
    background-color: #0f1116;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

#dashboard {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#links {
    width: 400px;
    text-align: left;
    font-size: x-large;
    color: white;
    display: flex;
    flex-direction: column;
}

#links a {
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin: 10px 0px;
    border: white 1px solid;
    border-radius: 5px;
    padding: 10px;
}

#links a:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

#header {
    max-width: 1200px;
}

#table-links {
    text-align: center;
    font-size: 1vw;
    color: white;
}

#table-links a {
    color: #51BDFB;
    text-decoration: none;
}

#table-links a:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

#table-row {
    border: 1px solid #ddd;
    padding: 8px;
}

#status-container {
  width: 100%;
  height: 200px;
  padding: 1rem;
  box-sizing: border-box;
}

#status-rounded-box {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  background-color: black;
  transition: background-color 0.3s ease;
  text-align: center;
  padding: 0.1rem;
  color: white;
}
