body {
    background-color: #0f1116;
    color: #ffffff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

#dashboard {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#links {
    width: 400px;
    text-align: left;
    font-size: x-large;
    color: white;
    display: flex;
    flex-direction: column;
}

#links a {
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin: 10px 0px;
    border: white 1px solid;
    border-radius: 5px;
    padding: 10px;
}

#links a:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

#header {
    max-width: 1200px;
}

#table-links {
    text-align: center;
    font-size: 1vw;
    color: white;
}

#table-links a {
    color: #51bdfb;
    text-decoration: none;
}

#table-links a:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

#table-row {
    border: 1px solid #ddd;
    padding: 8px;
}

#status-container {
    width: 100%;
    height: 200px;
    padding: 1rem;
    box-sizing: border-box;
}

#status-rounded-box {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    background-color: black;
    transition: background-color 0.3s ease;
    text-align: center;
    padding: 0.1rem;
    color: white;
}

#task-detail-row {
    padding-bottom: 5px !important;
    padding-top: 8px !important;
    border-bottom: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;

    .address-info {
        min-width: 135px;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}

#task-detail-row:not(:last-child) {
    border-bottom: 2px solid #34575f !important;
}

.card {
    background-color: #1e283000 !important;
    border: 2px solid #34575f !important;
    border-radius: 10px !important;
    box-shadow:
        0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.transparent-border {
    border: 2px transparent !important;
}

.card-header {
    background-color: rgba(0, 0, 0, 0) !important;
    border-bottom: none !important;
    align-items: center;
    margin: 0 auto;
    padding: 0px 15px !important;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
    text-align: center;
}

.card-body {
    padding: 0px 15px !important;
}

.aqua {
    color: #72e9d9 !important;
}

.light-blue {
    color: #8edef5 !important;
}

.lighter-blue {
    color: #52e3e4 !important;
}

.setup-container {
    background: radial-gradient(ellipse at center, #0a2a4d 0%, #001f33 100%);
    border: 1px solid #335;
    border-radius: 12px;
    padding: 20px;
    max-width: 900px;
    color: #cceeff;
    font-family: "Segoe UI", sans-serif;
}

.title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 16px;
    color: #70e0d2;
}

#setup-entry {
    display: flex;
    justify-content: space-between;
    padding: 3px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    #left {
        flex-direction: column;
        gap: 4px;
    }

    #right {
        text-align: right;
        flex-direction: column;
        gap: 4px;
    }
}

.detailed-entry {
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.md5-pill {
    background-color: #218c9e;
    border-radius: 8px;
    padding: 1px 10px;
    display: inline-block;
    font-size: 0.95rem;
    color: #fff;
}

#link-pill-box {
    background-color: #218c9e;
    border-radius: 8px;
    padding: 1px 10px;
    display: inline-block;
    font-size: 0.95rem;

    a {
        color: "white";
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}

.task-id,
.address,
.date {
    font-size: 0.85rem;
    color: #aad;
}

.proof-detail-scroll {
    max-height: 260px;
    overflow-y: auto;
    font-weight: 400;
    font-size: 12px;
    color: #9dbcc1;

    span {
        display: block;
    }
}

.detailed-page-card {
    padding: 1rem;
    display: flex;
    flex-direction: row;
}

.task-details-col {
    width: 22%;
}

.image-details-col {
    width: 34%;
    padding: 3px 10px;
}

.node-details-header {
    text-align: left;
}

.node-details-wrapper {
    padding: 0rem 2rem;
    padding-bottom: 0.1rem;
}

.node-details-col {
    width: 24%;
    padding: 3px 10px;
}

#detail-header {
    color: white;
    font-weight: 500;
    font-size: 20px;
    border-bottom: 4px solid #2a7e95;
    display: flex;
    flex-direction: row;

    #right-div {
        font-weight: 500;
        font-size: 18px;
        text-align: right;
    }

    div {
        flex: 1;
        padding: 5px;
    }
}

#adjacent-task-summaries {
    padding: 1rem;
    display: flex;
    flex-direction: row;

    div {
        flex: 1;
        padding: 1px;
    }
}

.debug-border-lines {
    outline: 1px dashed red;
}

.stretched-nested-div-parent {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.stretched-nested-div {
    flex: 1;
    display: flex;
    flex-direction: column;

    div {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
}

.flex-1 {
    flex: 1;
}

.pad-5 {
    padding: 5px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}
