#search {
    width: 65%;
    background-color: #1e222d;
    border-radius: 10px;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    padding: 1rem 0rem;

    input {
        border: none;
        border-bottom: 1px white solid;
        background-color: transparent;
        color: #ffffff;
        transition: border-bottom-color 0.2s ease;
        outline: none;
        display: block;
        padding: 0px 0px 5px 0px;
        width: 100%;
    }

    input:focus {
        border-bottom-color: #6d85c6;
    }

    p {
        margin: 20px 0px 0px auto;
    }

    button {
        flex: 1;
        background: #295f7f;
        border: transparent;
        color: white;
        padding: 10px 20px;
        border-radius: 12px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
}

#search-header {
    width: 65%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    padding: 0rem;

    div {
        display: flex;
        flex-direction: row;
        gap: 12px;
    }

    select, button {
        background: #295f7f;
        border: transparent;
        color: white;
        border-radius: 12px;
        align-items: center;
        cursor: pointer;
    }
}
